html {
    scroll-behavior: smooth;
  }

* {
    margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
}

body {
    background: linear-gradient(45deg ,#e2a9e5 15%, #2b94e5 100%);
}

main {
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
}

header {
    position: sticky;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    width: 100%;
}

.nav {
	height: 100px;
    width: 100%;
	display: flex;
	justify-content: center;
	box-sizing: border-box;
	align-items: center;
}

.nav-id {
    width: 100%;
}

.nav ul {
    display: flex;
    flex-direction: row;
    
}

.nav ul .btn-nav {
    margin: 0 25px;
}

.nav ul .btn-nav:hover a {
    background-color: white ;
	color: #2b94e5;
	transition: 0.3s;
    padding: 10px;
}

.btn-logo {
    height: 100px;
    position: absolute;
    left: 75px;

}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home .home-info {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    align-items: center;
}

.home .home-info .info-profil {
    border-radius: 5%;
    width: 250px;
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .home-info .info-profil .nom {
    height: 60px;
    text-align: center;
}

.home .home-info .info-profil .btn-appli{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60px;
    gap: 20px;
    align-items: center;
}

.home .home-info .info-profil .btn-play{
    display: flex;
    flex-direction: column;
    height: 180px;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.home .home-info .info-profil .btn-play a{
    background-color: opacity;
    padding: 1px;
    border-radius: 5%;
    padding: 3px;
}

.home .home-info .info-profil .btn-play a:hover{
    background-color: white;
    color: #e2a9e5;
    padding: 1px;
    border-radius: 5%;
    transition: 0.5s;
    padding: 3px;
}

.home .home-info .info-profil .btn-appli .appli{
    display: flex;
    flex-direction: row;
    gap: 15px;
    height: 60px;
    width: 200px;
    align-items: center;
}

.nom {
    font-size: 40px;
}


.home .info .item-info{
    display: flex;
    flex-direction: row;
    justify-content: left;
    height: 60px;
}

.logo {
    width: 30px;
    margin: 0 10px;
    height: 30px;
    border-radius: 5%;
}

.pochette,
.photo {
    width: 400px;
    height: 400px;
    border: 2px solid white;
    border-radius: 5%;
}

.tracks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.tracks .sons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: baseline;
    gap: 30px;
}

.tracks .sons .case a:hover{
    font-size: large;
}

.tracks .sons .case {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    -webkit-transition:all 0.5s linear;
    -moz-transition:all 0.5s linear;
    -o-transition:all 0.5s linear;
    transition:all 0.5s linear;
    -moz-box-shadow: 2px 2px 4px 0px #ffffff;
    -webkit-box-shadow:  2px 2px 4px 0px white;
    box-shadow: 2px 2px 4px 0px white;
    -moz-border-radius:7px 7px 7px 7px ;
    -webkit-border-radius:7px 7px 7px 7px ;
    border-radius:7px 7px 7px 7px ;
}

.tracks .sons .case:hover {
    -webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    -moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.contact .btn-contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.contact .btn-contact a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 20px;
}

@media screen and (max-width: 920px) {
    .nav ul .btn-nav {
        margin: 0 20px;
    }

    .btn-logo {
        display: none;
    }

    .home .home-info {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
        align-items: center;
    }

    .tracks .sons {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: baseline;
        gap: 30px;
    }

    .pochette,
    .photo {
    width: 250px;
    height: 250px;
    border: 2px solid white;
    border-radius: 5%;
    }

    .contact .btn-contact {
        display: flex;
        flex-direction: column;
        align-items: left;
        align-self: flex-start;
        gap: 5px;
    }
}

.license {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.license h2 {
    
}
